define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               PRICE3-Demo-10.5.69.52
    alias                   PRICE3 Demo VM
    address                 10.5.69.52
    _tomcat_port            8080
    _tomcat_path	    /
    _pg_port		    5432
    _pg_user		    postgres
    check_command           check-ping-nrpe!"$HOSTADDRESS$"
}

